/* css header */
header{
    background-color: lightblue;
    background-image: url(../img/pattern.png);
    
}
/* /header */
/* css titoli */
h1{
    font-size: 50px;
    margin-bottom: 0%;
}

h2{
    color: #9c9c9c;
}

h3{
    color: #9c9c9c;
}
/* /css titoli */
.the-booleaner{
    position: absolute;
    left: 0px;
    bottom: 0px;
}
.logo{
    height: 200px;
    width: 200px;
    position: relative;
    
}

.booleaner{
    color: lightblue;

}

